# ============================================
# Database (MySQL - Coolify)
# ============================================
DB_HOST=z112qwcdbx96zhsqw7u1iaws
DB_PORT=3306
DB_USER=mysql
DB_PASSWORD=t3GdXXl8y2lC8pY8E4NRrxIxno49kf6QcVUus3I37HF9HVZGggm060vuJWgHeD8C
DB_NAME=simsq

# ============================================
# NextAuth
# ============================================
# Generate dengan: openssl rand -base64 32
NEXTAUTH_SECRET=your-secret-key-min-32-chars
NEXTAUTH_URL=https://your-domain.com

# ============================================
# Cloudinary (https://cloudinary.com)
# ============================================
CLOUDINARY_CLOUD_NAME=dxizg7o46
CLOUDINARY_API_KEY=561822525532293
CLOUDINARY_API_SECRET=7aMAHniQIPBHX3Ej8k7TK8R1l38
